In [1]:
2345

2345

In [2]:
'hello jay'

'hello jay'

In [3]:
22.6, 30.4, 09.8

(22.6, 30.4, 9.8)

In [7]:
["john", "daniel"]

['john', 'daniel']

In [11]:
{"john":20,"daniel":40,"jay":30}

{'john': 20, 'daniel': 40, 'jay': 30}

In [12]:
{"john:20", "daniel:60", "jay:70"}

{'daniel:60', 'jay:70', 'john:20'}

In [15]:
{("cars"): ["toyota","camry", "golf", "hyndai"]}

{'cars': ['toyota', 'camry', 'golf', 'hyndai']}

In [16]:
{("CLASS A"): [20, 30, 40, 90]}

{'CLASS A': [20, 30, 40, 90]}

In [17]:
15+30

45

In [18]:
15+30.7

45.7

In [21]:
{("john"): [30+38+60+20], "Jay": [50+70+30]}

{'john': [148], 'Jay': [150]}

In [24]:
(1,49,44,30)+(20,99,76,88,99)

(1, 49, 44, 30, 20, 99, 76, 88, 99)

# VARIABLE AND VALUES

In [27]:
a=6

In [28]:
a

6

In [29]:
a=7
b=79
c=30

In [30]:
a

7

In [31]:
b

79

In [32]:
c

30

In [36]:
bayo=70
gold=40

bayo + gold

110

In [37]:
12 %4

0

In [38]:
15 % 7

1

In [39]:
58 % 11

3

In [40]:
66 % 7

3

# COMPARISON OPERATORS

In [41]:
5==5

True

In [42]:
5<5

False

In [43]:
5<=5

True

In [44]:
6>=6

True

In [45]:
7>=8

False

In [47]:
'dog'=='dog'

True

In [48]:
'man'=='woman'

False

In [58]:
'UK'>'Nigeria'

True

In [61]:
5==5 or 6<5

True

In [2]:
['shola',['maths 20', 'eng 30', 'phy 70']], ['jay', ['maths 30', 'eng 40', 'phy 35']]

(['shola', ['maths 20', 'eng 30', 'phy 70']],
 ['jay', ['maths 30', 'eng 40', 'phy 35']])

In [5]:
name= ('what is your name? ')
colour= ('what is your favourite colour')
(name + ' likes ' + colour)

'what is your name?  likes what is your favourite colour'

In [6]:
# creat 2 variables
a=6
b=7
a+b

13

In [7]:
# indexing example
a= [12, 45, 34, 87, 91]
b= [43, 62, 63, 87, 103]

c={'Geo': 98, 'Leo':78, 'Peo':85}

In [8]:
a[3]

87

In [9]:
b[4]

103

In [10]:
b[-1]

103

In [15]:
#comming from the back you count (-) that is why b(-1) is giving you 103

# INPUT FUNCTION

In [1]:
a= input('what is your name? ')

what is your name? Austine

In [2]:
a

'Austine'

In [3]:
a= input('where are you from? ')

where are you from? Nigeria

In [4]:
a

'Nigeria'

In [12]:
name= input('what is your name? ')
country= input('where are you from? ')

sentence= 'my name is ' + name + ' and i come from ' + country

what is your name? Bisong
where are you from? Nigeria

In [13]:
sentence

'my name is Bisong and i come from Nigeria'

In [16]:
name= input(' what is your name? ')
age= input(' how old are you? ')
school= input(' what school did you graduate from? ')
country= input(' where are you from? ')

sentence= 'my name is ' + name + ' and i am ' + age + ' i graduated from ' + school + ' and i am from ' + country

 what is your name? Bisong Austine
 how old are you? 15 years old
 what school did you graduate from? Petroleum Training institute
 where are you from? Nigeria

In [17]:
sentence

'my name is Bisong Austine and i am 15 years old i graduated from Petroleum Training institute  and i am from Nigeria'

In [31]:
# shorter method 
name= 'Austine'
age= 13
school= 'Petroleum Training Institute'

print(f"my name is {name} and i am {age} years old, and i graduated from {school}")

my name is Austine and i am 13 years old, and i graduated from Petroleum Training Institute

In [18]:
# float to integer
int(12.45)

12

In [19]:
# integer to float
float(12)

12.0

In [22]:
# string to integer
int('12')

12

In [23]:
# integer to string
str(12)

'12'

In [28]:
tuple([2, 4, 6, 8])

(2, 4, 6, 8)

# assignment

In [32]:
"get the name and the age of a user add 10 to his/her age and generate a sentence ."
e.g 
hello {name}, you are {age} years old, you will be {new age } in ten years time

SyntaxError: invalid syntax (<ipython-input-32-a50cce59f2e2>, line 3)

In [33]:
# calculate a simple interest of a user 
# P, R, T
# Simple interest= P*R*T/100

# adding to a list after creating it.

In [34]:
a= [45, 31, 83]
b= (45, 31, 83)

In [35]:
a

[45, 31, 83]

In [36]:
b

(45, 31, 83)

In [37]:
a.append (56)

In [38]:
a

[45, 31, 83, 56]

In [39]:
# you cannot add or remove from a tuple only to list. to add is a.append(the figure), to reomve is a.remove(figure)

a.remove(56)

In [40]:
a

[45, 31, 83]

In [7]:
# ASSIGNMENT 1

principal= int(input("principal"))
rate= int(input("rate"))
time=int(input("time"))

si= (principal*rate*time)/100
print(si)

principal10000
rate100
time20
200000.0

In [3]:
# ASSIGNMENT 2

name= input('what is his name? ')
age= input ('how old is he? ')
new_age= 10 + int(age)

print(f"his name is {name}, he is {age}years old and he will be {new_age}years old in 10years from now ")

what is his name? John
how old is he? 20
his name is John, he is 20years old and he will be 30years old in 10years from now

In [9]:
weight_lbs= input('weight (lbs)' )
weight_kg= int(weight_lbs ) * 0.45

print(weight_kg)

weight (lbs)160
72.0

In [9]:
p= int(input('principal' ))
r= int(input('rate' ))
t= int(input('time' ))
si= (p*r*t)/100

print (si)

principal10000
rate20
time2
4000.0

### conditional statement

In [10]:
a = int(input('enter a value'))
if a>100:
    print(a>100)

enter a value200
True

In [3]:
a= int(input("enter a value"))

if a>100:
    print(a>100)
    
else:
    print (a<100)

enter a value80
True

In [4]:
Name= input('user name' )
age= input ('user age')

if int(age)>18:
    print(f"congratulations {Name} you are eligible to drive")
else:
    print(f" sorry {Name} you are not eligible to drive")

user namejohn
user age20
congratulations john you are eligible to drive

In [4]:
name= input('user name' )
subject= input ('user subject ')
score = int(input ('user score' ))

if (score)>=100:
    print ('A')
elif (score)>= 60:
    print ('B')
elif (score)>= 50:
    print ('C')
elif (score)>= 40:
    print ('D')
else:
    print (f"sorry {name}, you got an E which is a failure")

user nameJohn
user subject Maths
user score35
sorry John, you got an E which is a failure

In [4]:
print('welcome to Genesis Pizza Deliveries')
size= input('what size of pizza do you want? S, M or L' )
add_pepperoni= input('do you want pepperoni? Y or N')
extra_cheese= input('do you want extra_cheese? Y or N')

bill= 0

if size== 'S':
    bill= bill + 1500
elif size== 'M':
    bill = bill +2000
elif size== 'L':
    bill= bill +2500
    
if add_pepperoni== 'Y':
    if size== 'S':
        bill = bill +200
    else:
        bill = bill +300

if extra_cheese== 'Y':
    bill= bill +100
    
print(F" Your final bill is N{bill}")

welcome to Genesis Pizza Deliveries
what size of pizza do you want? S, M or LL
do you want pepperoni? Y or NY
do you want extra_cheese? Y or NN
 Your final bill is N2800

### LOOPS (While Loop)

In [1]:
spam= 0
while spam <5:
    print ('Hello, world.')
    print (spam)
    spam= spam +2

Hello, world.
0
Hello, world.
2
Hello, world.
4

### FOR LOOP

In [22]:
# YOU NEED TO UNDERSTAND HOW RANGE WORKS FIRST 
list(range(5))

[0, 1, 2, 3, 4]

In [24]:
list (range(3,5))

[3, 4]

In [29]:
list (range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [30]:
# this means 0-20 in multiples of 3
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [31]:
# this means 0-20 in multiples of 2
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
sum([1,2,3,4])

10

In [35]:
# this means sum of even numbers from 0 to 100 including 100
sum(range(0,101,2))

2550

In [44]:
# do the mean (average) of the above
a= sum(range(0,101,2))
print (a)

b= len(range(0,101,2)) # Len mean total no of units or items
print (b)

average=(a/b)
print(average)

2550
51
50.0

In [2]:
# FOR LOOP

for Daniel in range (5):
    print (Daniel)
    print ("hello, how re you?")

0
hello, how re you?
1
hello, how re you?
2
hello, how re you?
3
hello, how re you?
4
hello, how re you?

In [3]:
for Amy in range (2,5):
    print (Amy)
    print ("hello, how re you?")

2
hello, how re you?
3
hello, how re you?
4
hello, how re you?

In [4]:
for Daniel in range (5):
    print ("hello, how re you?")

hello, how re you?
hello, how re you?
hello, how re you?
hello, how re you?
hello, how re you?

In [8]:
for Daniel in range (5, -1, -1):
    print (Daniel)
    print ("hello, how re you?")

5
hello, how re you?
4
hello, how re you?
3
hello, how re you?
2
hello, how re you?
1
hello, how re you?
0
hello, how re you?

In [16]:
password= ""

while password!= 'donbisong': # != mean not equal to

    print('what is the password? ')
    password= input("enter your password")

what is the password?
enter your passworddonbisong

In [17]:
import random

In [19]:
random. randint(1,25)

25

### BUILDING GAMES WITH LOOPS

In [28]:
# this game is called GUESS THAT NUMBER!!!

number= random.randint(1,25) # computer to think of a number between 1-25
number_of_guess= 0

while number_of_guess <3:
    print("welcome, guess a number between 1 to 25")
    guess= int(input("guess"))
    
    number_of_guess =  number_of_guess + 1
    if guess== number:
        break # break means to leave the loop otherwise it will continue running.
if guess == number:
    print (f'you guessed the number in {number_of_guess} times' )
else:
    print (f'you didnt guess the number. the number was {number}' )

welcome, guess a number between 1 to 25
guess18
welcome, guess a number between 1 to 25
guess9
welcome, guess a number between 1 to 25
guess5
you didnt guess the number. the number was 20

In [2]:
while True:
    print('please type your name')
    name = input ()
    
    if name =='Austine':
        break
    print('thank you')

please type your name
James
thank you
please type your name
Austine

In [1]:
while True:
    print('who are you? ')
    name= input()
    if name != 'Austine':
        continue
    print('Hello, Austine. what is the password? ')
    password = input()
    if password == 'donbisong':
        break
print('access granted.')

who are you?
Austine
Hello, Austine. what is the password?
donbisong
access granted.

In [10]:
print('welcome to mama_Basira restraurant ')
food= input('what do you want to eat? fufu, garri, or pounded_yam? ')
No_of_wraps= int(input('How many wraps do you want? '))
Type_of_soup= input('what type of soup do you want? egusi, okro, or mixed? ')
protein= input('what protein do you want? meat, fish or NO')

bill=0

#( selction of Swallow)  
if food=='fufu':
    bill= bill + 50
elif food== 'Garri':
    bill= bill + 70
elif food== 'pounded_yam':
    bill= bill + 100
    
 # no of wraps   
bill = bill * (No_of_wraps)
    
#selection of soup
if Type_of_soup== 'egusi':
    bill= bill +200
elif Type_of_soup== 'okro':
    bill= bill +200
elif Type_of_soup== 'mixed':
    bill= bill +300
    
 #selection of protein   
if protein == 'meat':
    number_of_meat= int(input('how many pieces of meat? '))
    bill= bill +(number_of_meat *100 )
elif protein == 'fish':
    number_of_fish= int(input('how many pieces of fish? '))
    bill= bill +(number_of_fish *100 )

print(f"your final bill is: N{bill}")

welcome to mama_Basira restraurant
what do you want to eat? fufu, garri, or pounded_yam? fufu
How many wraps do you want? 4
what type of soup do you want? egusi, okro, or mixed? egusi
what protein do you want? meat, fish or NOfish
how many pieces of fish? 4
your final bill is: N800

In [27]:
for i in range (6):
    print('*' *i)

*
**
***
****
*****

In [28]:
a= ['car', 'ball', 'bucket' ]
b= ['blue', 'red', 'yellow' ]

for i in b:
    for j in a:
        print(i,j)

blue car
blue ball
blue bucket
red car
red ball
red bucket
yellow car
yellow ball
yellow bucket

### SEQUENCES

In [29]:
a= [[1,2,3], 2,5, ['cat', 'dog', 'sheep']] # NEXTED LIST

In [30]:
a[3]

['cat', 'dog', 'sheep']

In [31]:
a[3][2]

'sheep'

In [32]:
a[3][2][-1]

'p'

In [33]:
a= [1,2,3,4,5,6,7,8,9,10] # SLIZING

In [34]:
a[0:5]

[1, 2, 3, 4, 5]

In [36]:
a[2:10]

[3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
a[3:8]

[4, 5, 6, 7, 8]

In [38]:
a= [1,2,3,4,5,6,7,8,9,10]

In [39]:
a.append(11)

In [40]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [42]:
a.remove (11)

In [43]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
a.insert(2,2.5)

In [45]:
a

[1, 2, 2.5, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
a.extend([2,3,3.5])

In [51]:
a

[1, 2, 2.5, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 2, 3, 3.5]

In [53]:
a.sort()

In [54]:
a

[1, 2, 2, 2.5, 3, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [5]:
num = int(input("enter the number of rows: ")) #6

for i in range(1,num+1):
    print(" "*(num-i) +"* "* i)
    
for j in range(num-(num//2)):
    print (" "*(num-1)+"*")

enter the number of rows: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
     *
     *
     *

In [6]:
num = int(input("enter the number of rows: ")) #6

for i in range(1,num+1):
    print(" "*(num-i) +"* "* i)

for j in range(num-(num//2)):
    print (" "*(num-1)+"*")

enter the number of rows: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
     *
     *
     *

In [7]:
a=[23,45,14,78,39,14,56,101,23,24,56] # SLIZING PRACTICE

In [10]:
a[0:3]

[23, 45, 14]

In [12]:
a[3:7]

[78, 39, 14, 56]

In [13]:
a[7:10]

[101, 23, 24]

In [14]:
a=[23,[45,14],[78,39,14,56],101,[23,24],56]

In [18]:
a[2][1:4]

[39, 14, 56]

In [19]:
a[4][1]

24

In [42]:
a= (1,2,3,4,5,6,7,8,9,10) # TUPPLE(U CANNOT ADD AND REMOVE FROM A TUPPLE)

In [43]:
sum(a)

55

In [44]:
max(a)

10

In [45]:
max(a)-min(a)

9

In [30]:
a= (1,2,3,4)

In [38]:
total= 1
for i in a:
    total= total*i
    print(total)

1
2
6
24

In [52]:
cat1={'size': 'fat', 'colour': 'gray', 'disposition': 'loud'}
cat2={'colour': 'gray', 'size': 'fat', 'disposition': 'loud'}

In [53]:
cat1 == cat2

True

In [54]:
cat1['weight']=50

In [55]:
cat1

{'size': 'fat', 'colour': 'gray', 'disposition': 'loud', 'weight': 50}

In [56]:
cat1['size']

'fat'

In [60]:
cat1['height']=60

In [61]:
cat1

{'size': 'fat',
 'colour': 'gray',
 'disposition': 'loud',
 'weight': 50,
 'height': 60}

In [62]:
cat1.keys()

dict_keys(['size', 'colour', 'disposition', 'weight', 'height'])

In [65]:
cat1.values()

dict_values(['fat', 'gray', 'loud', 50, 60])

In [66]:
cat1.items()

dict_items([('size', 'fat'), ('colour', 'gray'), ('disposition', 'loud'), ('weight', 50), ('height', 60)])

### FUNCTIONS

In [67]:
def say_hello():
    print('hello')

In [68]:
say_hello()

hello

In [69]:
def say_hello(name):
    print(f'hello {name}')

In [70]:
say_hello('Austine')

hello Austine

In [71]:
def say_hello(name='Austine'):
    print(f'hello {name}')

In [73]:
say_hello()

hello Austine

In [91]:
def add_num(a,b):
    print(a+b)

In [93]:
add_num(10,3)

13